.divBanner {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.foto {
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
    margin-bottom: 2%;
    margin-top: 10%;
    width: 280px;
   
}
.carregando{
    border-radius: 50%;
    color: white;
    font-size: 2.5em;
    margin-bottom: 0.5em;    
    margin-bottom: 2%;
    margin-top: 10%;
    width: 280px;
}
.divBanner h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 0.5em;    
}

.divBanner p {
    color: white;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    width: 100%;
    
}

.botoes {
    background-image: linear-gradient(90deg, #f39cab .6%, #cb3cae 190%);
    border: 1px solid #E06C75;
    border-radius: 26px;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.4em;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    text-align: center;
    width: 190px;
   
}
.botoes:hover{
    color: aliceblue;
  }

  .content {
    margin-top: 1em;
}

.divApresentacao {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;    
}

@media screen and (max-width: 500px) {
    .divBanner h1 {
        font-size: 2.0em;   
        padding-top: 1em;
    }
}

@media screen and (max-width: 390px) {
    .divBanner {
        width: 400px;
    }
}