footer {
    box-shadow: 1px 1px 10px #fac0ca;
    text-align: center;
}

.footer p {
    color: white;
    padding: 1em;
    font-size: 1.3em;
}

@media screen and (max-width: 390px) {
    footer {
        width: 400px;
    }
}