#experiencias {
    padding: 2.5em 0;
    padding-top: 5em;
}

.divExperiencias {
    margin-left: 10%;
    margin-right: 10%;
}

.divExperiencias li {
        color: white;
        font-size: 1.5em;
        padding: 1em;
}

.divExperiencias a {
    color: #f39cab;
    text-decoration: none;
}

.divExperiencias a:hover {
    color: #98C379;
    
}

@media screen and (max-width: 390px) {
    #experiencias {
        width: 400px;
    }
}