#experiencias {
    margin-bottom: 4%;
    padding-top: 128px;
}
.divExperiencias {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.divExperiencias h4 {
    color: white;
}

.divExperiencias li {
        color: white;
        font-size: 20px;
}

.divExperiencias a {
    color: #f39cab;
    text-decoration: none;
}

.divExperiencias a:hover {
    color: #98C379;
    
}
h2 {
    margin: 0;
}

@media screen and (max-width: 769px) {
    #experiencias{
        padding-left: 20px;
        padding-right: 20px;
    }

    .divExperiencias {
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
        }

    }
@media screen and (max-width: 520px) {
    #experiencias{
        padding-left: 0;
        padding-right: 0;
    }
    .divExperiencias {
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 0;
        margin-right: 0;
        }

}

@media screen and (max-width: 520px) {
    .divExperiencias {
        padding-left: 0;
        padding-right: 0;
        }

}

