#habilidades {
    padding: 2.5em 0;
    padding-top: 5em;
}

.hardSkills {
    align-items: center;
    border: 2px solid #f39cab;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

.hardSkills:hover {
    border: 2px solid #98C379;

}

.hardSkills p {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.divSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

.logoSkills {
    width: 95px;
}

@media screen and (max-width: 390px) {
    .divSkills {
        justify-content: center;
    }
}