h2 {
    display: flex;
    color: #f39cab;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

#projetos {
    padding: 128px 0 0 0 ;
}
.divProjetos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 700px;  
 }

 .container .card {
    background-color: #f39cab;
    border: 1px solid #000000;
    border-radius: 8px;
    color: white;
    display: flex;
    height: 250px;
    margin: 30px 60px;
    position: relative;
    width: 360px; 
 }

 .container .card .imgBx {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 100%;
    z-index: 1;  
 }

 .container .card .imgBx img{
    border-radius: 10px;
    width: 360px;
 }

 .container .card:hover .imgBx {
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    width: 150px; 
 }

 .container .card .content {
    align-items: center;
    display: flex;
    height: 86%;
    justify-content: center;
    padding: 18px;
    position: absolute;
    right: 0;
    width: calc(100% - 75px); 
 }

 .container .card .content h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
 }
 .container .card .content p {
    font-weight: bold;
    margin-bottom: 5px;
 }

 .container .card .content a {
    color: white;
    display: inline-block;
    margin-right: 13px;
    margin-top: 10px;
    text-decoration: none;
 }

 .container .card .content a:hover {
    color: white;
  
 }

 @media(max-width: 999px) {
    .divProjetos {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        margin-right: 18px;
    }

    .container{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container .card {
        width: 360px;
    }

    .container .card .imgBx {
        position: absolute;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: 0.5s ease-in-out;
        width: 100%;
        z-index: 1;  
        
    }
    .container .card:hover .imgBx  {
        height: 150px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
        width: 150px; 
        
    }

    .container .card .imgBx img,
    .container .card:hover .imgBx img {
        max-width: 358px;

    }

    .container .card .content {
        align-items: center;
        display: flex;
        height: 90%;
        justify-content: center;
        padding: 20px;
        position: absolute;
        right: 0;
        width: calc(100% - 75px);
       
    }
 }

 @media (max-width: 768px){
    .divProjetos {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 5%;
    }

    .container .card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
    }

    .container .card .imgBx {
        position: relative;
    }

    .container .card .imgBx,
    .container .card:hover .imgBx {
        height: 200px;
        left: 0;
        width: 100%;
    }

    .container .card .imgBx img,
    .container .card:hover .imgBx img {
        max-width: 300px;

    }

    .container .card .content {
        position: relative;
        width: 100%;
    }

    #projetos {
            padding: 60px 0 0 0 ;
    
    }
 }

 