h2 {
    display: flex;
    color: #f39cab;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
}

.sobre {
    padding: 2.5em 0;
}

.divImage {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 128px 0 0 0;

}

.divImage p {
    text-align: left;
    color: white;
    font-size: 1.2em;
}
