
.sobre {
    padding: 128px 0 0 0;
}
.divImage {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    padding: 128px 0 0 0;
    width: 57%;
}
.sectionAbout {
   display: flex;
   justify-content: center;
}

.divImage p {
    text-align: left;
    color: white;
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 6%;
}

@media screen and (max-width: 769px) {
    .divImage p {
        color: white;
        font-size: 20px;
        margin-bottom: 10%;
        
    }

    .sobre {
        padding: 65px 0 0 0;
    }

    .divImage {
        width: 65%;
    }
}

@media screen and (max-width: 540px) {
    .divImage {
        margin-left: 0;
        margin-right: 0;
        padding-left: 3%;
        padding-right: 3%;
        width: 85%;

    }
}

@media screen and (max-width: 434px) {
    .divImage {
        margin-left: 0;
        margin-right: 0;
        padding-left: 8%;
        padding-right: 5%;
        width: 100%;
    }

}